// Variables
$black: #000000;
$body-color: #ffffff;
$body-bg: #ffffff;
$border-color: #cccccc;
$border-width: 1px;
$border-radius: 4px;
$btn-transition: all 0.3s ease;
$component-active-bg: #007BFF;
$primary: #007bff;
$input-focus-border-color: #ffffff;
$btn-focus-box-shadow: 0 0 8px rgba(#02ec06, 0.5);
$accordion-padding-y: 1rem;
$accordion-padding-x: 1.25rem;
$accordion-color: $body-color;
$accordion-bg: $body-bg;
$accordion-border-width: $border-width;
$accordion-border-color: rgba($black, .125);
$accordion-border-radius: $border-radius;
$accordion-inner-border-radius: subtract($border-radius, $border-width);
$accordion-body-padding-y: $accordion-padding-y;
$accordion-body-padding-x: $accordion-padding-x;
$accordion-button-padding-y: $accordion-padding-y;
$accordion-button-padding-x: $accordion-padding-x;
$accordion-button-color: $accordion-color;
$accordion-button-bg: $accordion-bg;
$accordion-transition: $btn-transition, border-radius .15s ease;
$accordion-button-active-bg: tint-color($component-active-bg, 90%);
$accordion-button-active-color: shade-color($primary, 10%);
$accordion-button-focus-border-color: $input-focus-border-color;
$accordion-button-focus-box-shadow: $btn-focus-box-shadow;
$accordion-icon-width: 1.25rem;
$accordion-icon-color: $accordion-color;
$accordion-icon-active-color: $accordion-button-active-color;
$accordion-icon-transition: transform .2s ease-in-out;
$accordion-icon-transform: rotate(-180deg);
$breakpoint-lg: 301px;
$breakpoint-sm: 300px;
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

// Media queries para diferentes tamaños de pantalla
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    body {
        font-size: 15px;
    }
}

@media (min-width: 1201px) {
    body {
        font-size: 16px;
    }
}

#about {
    background-color: #ffffff;
}

.container, .container-fluid {
    padding-right: 0;
    padding-left: 0;
    height: 210px;
}

.contact-section {
    padding: 0;
}

.contact-form {
    background-color: $body-bg;
    margin: 0 auto;
    max-width: 100%;
    box-shadow: none;
}

.navbar-nav .nav-link .nav-img {
    transition: transform 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover .nav-img, 
.navbar-nav .nav-link:focus .nav-img {
    transform: scale(1.3);
}

.selector {
    padding: $accordion-padding-y $accordion-padding-x;
    color: $accordion-color;
    background-color: $accordion-bg;
    padding: 1rem 1.25rem;
    color: #ffffff;
    background-color: #ffffff;
}

html, body {
    font-family: "Bebas Neue", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: $body-bg;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#episodes-list {
    display: flex;
    flex-direction: column;
}

.episode {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    .episode-thumbnail {
        margin-right: 1rem;
        width: 100px;
        height: 100px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    h3 {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
    }

    p {
        margin: 0.5rem 0;
    }

    a {
        font-size: 0.9rem;
        text-decoration: none;
        color: $primary;

        &:hover {
            text-decoration: underline;
        }
    }
}

.section1 {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.section1 img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    min-height: 600px;
}

.section1, .section2 {
    min-height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.section1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/collage3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(0);
    will-change: transform;
}

.section1 .text {
    transform: translateZ(-0.5px) scale(1.5, 1.6) translate(-33%, 10%);
}

.section2 .text {
    transform: translateZ(-0.5px) scale(1.5, 1.6) translate(-33%, 10%);
    font-size: 6vw;
}

.text {
    top: -30%;
    left: 50%;
    position: absolute;
    font-size: 10vw;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 70px rgba(255, 255, 255, 0.5);
    transform: scale(1, 1.1) translate(-50%);
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (max-width: $breakpoint-lg) {
        flex-direction: column;
    }
}

.navbar-nav {
    display: center;
    justify-content: center;
    width: auto;

    .nav-item {
        padding: 0.5rem 1rem;
    }
}

.navbar-nav img {
    width: 10px;
    height: auto;
    margin-top: 107px;

    @media (min-width: $breakpoint-lg) {
        width: 75px;
    }
}

.navbar-nav img {
    width: 68px;
    height: auto;
    margin-top: 40px;

    @media (min-width: $breakpoint-sm) {
        width: 75px;
    }
}

.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.contact-form {
    padding: 0;
}

.container-fluid {
    background-position: center;
    background-color: #ffffff;
}

.center-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar-toggler {
  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}



/* Section siguiente */
.lower.container-fluid {
    background-image: url('images/Una-mujer-armenia.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4rem 2rem;
    margin: 0;
    width: 100%;
    height: 100vh;

    @media (min-width: $breakpoint-lg) {
        padding: 8rem 4rem;
    }
}

/* Botones */
.button-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin-right: 99px;

    .rectangular-button {
        padding: 10px 20px;
        color: #727171;
        border: 2px solid #636262;
        border-radius: $border-radius;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 10px;
        background-color: transparent;
        transition: $btn-transition, border-color 0.3s, color 0.3s;

        &:hover {
            background-color: $accordion-button-active-bg;
            color: $accordion-button-active-color;
            transform: scale(1.05);
        }
    }
}

.rectangular-button.bg-transparent {
    padding: 10px 20px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 32px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    margin-top: 78px;
    background-color: transparent;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s ease;

    &:hover {
        background-color: $accordion-button-active-bg;
        color: $accordion-button-active-color;
        border-color: lighten($border-color, 100px);
        transform: scale(1.05);
    }
}

.rectangular-button.bg-transparent:hover {
    background-color: #f74848(86, 255, 70);
    color: #ec0082;
}

/* Stock criollo market */
.cinta {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #f79090;
}

.cinta ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    animation: mover-cinta 50s linear infinite;
}

.cinta li {
    white-space: nowrap;
    padding: 0 20px;
}

@keyframes mover-cinta {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Parallax effect */
.parallax {
    height: 1500px;
    background-attachment: fixed;
    background-size: cover;
}

.text-overlay {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Footer styles */
footer {
    background-color: #f70000;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-center h3 {
    margin-bottom: 20px;
}

.footer-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-center li {
    margin-right: 20px;
}

/* Footer links */
.footer-center a {
    color: #ff0000;
    text-decoration: none;
    font-size: 18px;
    margin-top: 99px;
}

/* Footer bottom */
.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(253, 253, 253, 0);
    font-size: medium;
}

/* Footer styles for "Sobre mí" page */
.footer-sobremi {
    background-color: #f70000;
    color: #ffffff;
    padding: 30px 0;
    font-size: 18px;
    margin-top: 1000px;
}

.form-control {
    background-color: $body-bg;
    border-color: $input-focus-border-color;
    color: $body-color;

    &:focus {
        border-color: lighten($input-focus-border-color, 10%);
        box-shadow: 0 0 8px rgba($input-focus-border-color, 0.5);
    }
}

.footer-contact {
    background-color: #f70000;
    color: #ffffff;
    padding: 30px 0;
    font-size: 18px;
    margin-top: 600px;
}

.social-media {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

/* Página de episodios */
#episodes-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.episode {
    display: flex;
    gap: 1rem;

    .episode-thumbnail {
        flex-shrink: 0;
        width: 100px;
        height: 100px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .episode-content {
        flex-grow: 1;

        h3 {
            margin: 0;
            padding: 0;
            font-size: 1.5rem;
        }

        p {
            margin: 0.5rem 0;
        }

        a {
            font-size: 0.9rem;
            text-decoration: none;
            color: $primary;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Estilos para la imagen colapsada */
.navbar-brand .collapsed-image {
    display: none;
}

.navbar-brand img {
    display: block;
}

@media (max-width: 767px) {
    .navbar-brand img {
        display: none;
        max-width: 50px;
    }

    .navbar-collapse {
      @media (min-width: $breakpoint-lg) {
        display: flex !important;
      }
    }

    .navbar-brand img.active {
        display: none;
    }
    .navbar-collapse.active {
        display: block;
    }
}

.bg-dark {
    background-color: white !important;
}

.rectangular-button.bg-transparent {
    padding: 10px 20px;
    color: #000000;
    border: 2px solid #292626;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    margin: 22px;
    margin-top: 78px;
    background-color: transparent;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s ease;
}

/* Botón para suscribirse en la pantalla principal */
.text-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    font-size: 20px;
}

.text-overlay {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 10px 0;
}

.subscribe-link {
    position: relative;
    display: inline-block;
}

.subscribe-text {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    z-index: 10;
    pointer-events: none;
}

.subscribe-button {
    max-width: 200px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: block;
}

.subscribe-button:hover {
    transform: scale(1.05);
    opacity: 0.8;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    filter: brightness(120%);
}


/* Añade esto a tu archivo CSS (test.css) */

.episode {
    transition: transform 0.3s, box-shadow 0.3s;
}

.episode:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.episode img {
    transition: transform 0.3s;
}

.episode:hover img {
    transform: scale(1.1);
}
